.Card-parent{
    width: 70%;
    height: 500px;
    border: solid 2px peachpuff;
    background: white;
    /* display: flex;
    flex-direction: column; */
    margin-top: 100px;
}

.card-number{
    font-weight: 600;
    font-size: 2.1em;
    float: right;
}


