.navbar {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

.left-button{
    margin-top: 10px;
    margin-left: 15%;
}

.right-button{
    margin-top: 10px;
    margin-right: 15%;
}